@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @media screen and (min-width > 1280px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@font-face {
  font-family: QuickSand;
  src: url(assets/fonts/QuickSand.woff2) format("truetype");
}
@font-face {
  font-family: Amatic;
  src: url(assets/fonts/AmaticSC.woff2) format("truetype");
}
@font-face {
  font-family: DMSans;
  src: url(assets/fonts/DMSans.ttf) format("truetype");
}
@font-face {
  font-family: NunitoSans;
  src: url(assets/fonts/NunitoSans.woff2) format("truetype");
}

:root {
  font-family: QuickSand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.word,
.word > .char {
  display: inline-block;
}
.menu__item-link:focus:not(:focus-visible) {
  color: var(--color-link);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.rfm-child {
  padding-inline: 40px;
}
/* 
.overlay {
  border-image: fill 0 linear-gradient(#0003, #000);
} */

.splitting .line {
  display: block !important; /* Or 'flex' if words inside are inline-block and need to wrap */
  overflow: hidden !important; /* This is KEY for the effect */
  /* position: relative; */ /* Might be needed depending on child positioning */
}

/* The actual elements being animated (words/chars within lines) */
.splitting .line .word,
.splitting .line .char {
  display: inline-block; /* Allow yPercent to work correctly */
  /* transform-style: preserve-3d; /* For more complex 3D transforms if needed */
}
